@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.title {
    background-color: pink;
    height: 100px;
    width: 90%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid white;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.content1 {
    background-color: white;
    height: 400px;
    width: 100%;
    border: 10px solid white;
}

.con-tent1 h3 {
    border: 5px solid #112D42;
    width: 280px;
    text-align: center;
    background-color: white;
    font-size: 30px;
    margin: 0;
}

.content1 p {
    width: 850px;
    position: absolute;
    left: 450px;
    bottom: 550px;
    font-size: 20px;
}

.con-2 {
    float: right;
    margin-right: 200px;
}

.con-3 p {
    float: left;
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;
}

.content2 {
    background-color: #0082e6;
    height: 500px;
    width: 100%;
    border: 10px solid white;
    padding: 50px;
}

.content2 h3 {
    border: 5px solid #112D42;
    width: 280px;
    text-align: center;
    background-color: white;
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
}

.causes {
    position: absolute;
    bottom: 100px;
    left: 100px;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 500;
}

.content3 {
    background-color: white;
    height: 500px;
    width: 100%;
    border: 10px solid white;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    padding-top: 20px;
}

.myths p {
    border: 1px solid black;
    box-shadow: 2px 2px 5px white;
}

.facts p {
    border: 1px solid black;
    box-shadow: 2px 2px 5px whitesmoke;
}

.subcontent1 {
    background-color: #0082e6;
    height: 500px;
    width: 100%;
    border: 10px solid white;
    padding: 50px;
}

.types {
    float: right;
    font-size: 25px;
    background-color: white;
    position: relative;
    right: 180px;
    bottom: 280px;
    width: 900px;
}

.types li {
    position: relative;
    left: 50px;
}

.subcontent2 {
    background-color: white;
    height: 550px;
    width: 100%;
    border: 10px solid white;
}

.subcontent2 img {
    position: absolute;
    left: 1200px;
}

.sym-con {
    font-size: 30px;
    margin: 30px;
}

.subcontent1 h2 {
    border: 5px solid #112D42;
    width: 280px;
    text-align: center;
    background-color: white;
    font-size: 30px;
    margin: 0;
}

.subcontent2 h2 {
    border: 5px solid #112D42;
    width: 280px;
    text-align: center;
    background-color: white;
    font-size: 20px;
    margin: 0;
}